//------------------------------------------------------------------------------------------------
// EXPANDER OBJECT
//------------------------------------------------------------------------------------------------

.o-expander {
	position: relative;
}

.o-expander__content {
	display: none;
}

.o-expander.is-active {
	.o-expander__content {
		display: block;
	}
}