//------------------------------------------------------------------------------------------------
// DEPENDENCIES
//------------------------------------------------------------------------------------------------

/*
Certain components require that classes from the object layers be available.
Let's setup these relationships to make sure everything is compiled.

If adding new components or extending existing, you should copy this from node_modules into your
own ITCSS settings directory and update accordingly.
*/

$dependencies: (
	calendar: (
		object: (
			box: (
				'o-box--spacing-small',
				'o-box--spacing-small@sm2'
			),
			layout: (
				'o-layout--flush'
			)
		),
		component: (
			box: (
				'c-box--border'
			),
			inputs: (
				'c-input--left-label'
			)
		),
		utility: (
			alignments: (
				'u-flex-middle'
			),
			widths: (
				'u-width-shrink'
			)
		)
	),
	expander: (
		object: (
			box: (
				'o-box--spacing-small'
			),
			expander: true,
			layout: (
				'o-layout--fit'
			)
		),
		component: (
			box: (
				'c-box--rounded'
			),
			button: true,
			typography: true
		),
		utility: (
			alignments: (
				'u-flex-middle'
			),
			widths: (
				'u-width-grow',
				'u-width-shrink'
			)
		)
	),
	inputs: (
		component: (
			typography: true
		)
	),
	tabs: (
		object: (
			layout: (
				'o-layout--flush',
				'o-layout--fit-height'
			)
		)
	)
) !default;

@include dependency-setup();