//------------------------------------------------------------------------------------------------
// ALIGNMENTS
//------------------------------------------------------------------------------------------------

@include render('alignments') {


// TEXT
//------------------------------------------------------------------------------------------------

@include filter('u-align-left') {
	.u-align-left {
		text-align: left !important;
	}
}

@include filter('u-align-center') {
	.u-align-center {
		text-align: center !important;
	}
}

@include filter('u-align-right') {
	.u-align-right {
		text-align: right !important;
	}
}

// Changes alignment when breakpoint is hit
// Example: .u-align-left@md
@each $bp-name, $bp-value in $mq-breakpoints {
	@include mq(#{$bp-name}) {
		@include filter('u-align-left@#{$bp-name}') {
			.u-align-left\@#{$bp-name} {
				text-align: left !important;
			}
		}

		@include filter('u-align-center@#{$bp-name}') {
			.u-align-center\@#{$bp-name} {
				text-align: center !important;
			}
		}

		@include filter('u-align-right@#{$bp-name}') {
			.u-align-right\@#{$bp-name} {
				text-align: right !important;
			}
		}
	}
}


// FLEX ALIGNMENTS
//------------------------------------------------------------------------------------------------

[class*='u-flex-'] {
	display: flex !important;
}

// Flex equivalents
@include filter('u-flex-middle', 'u-flex-center-all') {
	.u-flex-middle,
	.u-flex-center-all {
		align-items: center !important;
	}
}

@include filter('u-flex-center', 'u-flex-center-all') {
	.u-flex-center,
	.u-flex-center-all {
		justify-content: center !important;
	}
}

@include filter('u-flex-left', 'u-flex-justify-start') {
	.u-flex-justify-start,
	.u-flex-left {
		justify-content: flex-start !important;
	}
}

@include filter('u-flex-right', 'u-flex-justify-end') {
	.u-flex-justify-end,
	.u-flex-right {
		justify-content: flex-end !important;
	}
}

@include filter('u-flex-top', 'u-flex-align-start') {
	.u-flex-align-start,
	.u-flex-top {
		align-items: flex-start !important;
	}
}

@include filter('u-flex-bottom', 'u-flex-align-end') {
	.u-flex-align-end,
	.u-flex-bottom {
		align-items: flex-end !important;
	}
}

// End render
}